<section>
  <div class="container mx-auto flex flex-row justify-center gap-8">
    <div class="flex flex-row gap-2" data-cy="inventory">
      @for (type of ENTITY_TYPE_OPTIONS; track $index) {
        <div class="flex flex-col gap-2">
          <span class="flex flex-col items-center">{{ ENTITY_TYPE_INFO[type].display }}</span>
          @for (entity of groupedEntities[type]; track $index) {
            <div
              class="group relative flex min-h-64 w-44 flex-col items-center gap-2 border border-solid border-neutral-500 bg-stone-200 dark:bg-stone-800"
            >
              <div class="absolute left-full top-0 z-10 hidden group-hover:flex">
                @for (recipe of inventoryEntity[entity].recipes | keyvalue; track $index) {
                  <app-recipe-card
                    [inventoryEntity]="entity"
                    [inventoryRecipe]="recipe.value"
                  ></app-recipe-card>
                }
              </div>

              <div class="flex w-full flex-col items-center justify-center px-2">
                <span>{{ ENTITY_INFO[entity].display }}</span>
                @if (ENTITY_INFO[entity].factoryData) {
                  <span>Speed: {{ ENTITY_INFO[entity].factoryData?.craftSpeed }}</span>
                }
                <!-- <button class="btn-icon" (click)="gameService.selectedEntity = entity">
                  <i class="fa-solid fa-info fa-fw"></i>
                </button> -->
              </div>

              <app-factorio-icon
                [icon]="ENTITY_INFO[entity].icon"
                [size]="IconSizes.lg"
              ></app-factorio-icon>

              <div class="flex w-full flex-row justify-between p-2">
                <span class="text-2xl">
                  {{ inventoryEntity[entity].count | appNumberFormatSuffix }}
                </span>
                @if (inventoryEntity[entity].rate) {
                  <span class="text-2xl">
                    {{ inventoryEntity[entity].rate | appNumberFormatSuffix }}/s
                  </span>
                }
              </div>

              @if (
                inventoryEntity[entity].consumptionRate || inventoryEntity[entity].productionRate
              ) {
                <div class="flex w-full flex-row justify-between p-2">
                  <span class="text-red-500">
                    -{{ inventoryEntity[entity].consumptionRate | appNumberFormatSuffix }}
                  </span>
                  <span class="text-green-500">
                    +{{ inventoryEntity[entity].productionRate | appNumberFormatSuffix }}/s
                  </span>
                </div>
              }

              <!-- <pre>{{ inventoryEntity[entity].recipes | keyvalue | json }}</pre> -->

              <div
                class="flex h-full w-full flex-col justify-end border-t border-solid border-neutral-500"
              >
                @if (inventoryEntity[entity].recipes.size > 0) {
                  <div class="flex w-full flex-col gap-2">
                    @if (this.inventoryEntity[entity].recipes | appEntityHasProducers) {
                      <div class="flex flex-row items-center justify-between gap-2">
                        <button
                          class="btn-icon"
                          (click)="gameService.toggleAutoCrafting(entity)"
                          title="Toggle Automated Crafting"
                        >
                          <!-- Check if there are machines -->
                          @if (inventoryEntity[entity].autoCraftingEnabled) {
                            <div>
                              <i
                                class="fa-solid fa-gear fa-spin text-green-700"
                                title="Crafting Automatically"
                              ></i>
                            </div>
                          } @else {
                            <div>
                              <i
                                class="fa-solid fa-circle-pause fa-fw fa-fade text-yellow-500"
                                title="Paused"
                              ></i>
                            </div>
                          }
                        </button>

                        <div class="p-2">
                          @if (inventoryEntity[entity].problems.length > 0) {
                            <div>
                              <i
                                class="fa-regular fa-circle-dot fa-fw fa-fade text-yellow-500"
                                [title]="inventoryEntity[entity].problems[0]?.message"
                              ></i>
                            </div>
                          } @else {
                            <div>
                              <i
                                class="fa-solid fa-circle fa-fw text-green-700"
                                title="Nominal"
                              ></i>
                            </div>
                          }
                        </div>
                      </div>
                    }

                    <!-- <div class="flex flex-row items-center justify-between gap-2">
                      <button class="btn-icon" title="Manual Craft">M Crf</button>
                      <button class="btn-icon" title="Automated Craft">A Crf</button>

                      <div class="w-8 h-8">
                        <i class="text-2xl fa-solid fa-clipboard-list fa-fw"></i>
                      </div>

                      <button class="w-8 h-8 btn-icon btn-secondary" title="Automated Craft">
                        <i class="fa-solid fa-plus fa-fw"></i>
                        <i class="text-2xl fa-solid fa-industry fa-fw" title="Add Machine"></i>
                      </button>
                    </div> -->
                    @if (
                      gameService.inventoryForEntities[entity].manualRecipe &&
                      !RECIPE_INFO[gameService.inventoryForEntities[entity].manualRecipe!]
                        .machineRequired
                    ) {
                      <button
                        class="btn-primary relative overflow-hidden"
                        (click)="gameService.makeInventoryEntityManually(entity)"
                      >
                        <span
                          class="absolute left-0 top-0 h-full bg-white opacity-20"
                          [ngStyle]="{
                            width: gameService.inventoryForEntities[entity].craftingProgress + '%'
                          }"
                        ></span>
                        <span class="">{{
                          gameService.inventoryForEntities[entity].craftingProgress
                            ? (gameService.inventoryForEntities[entity].craftingProgress / 100
                              | percent)
                            : 'Manual Craft'
                        }}</span>
                      </button>
                    } @else {
                      <div class="h-10 w-full bg-neutral-900 py-0.5"></div>
                    }
                  </div>
                } @else {
                  <div class="h-10 w-full bg-neutral-900 py-0.5"></div>
                }
              </div>
            </div>
          }
        </div>
      }
    </div>
    <!-- 
    <div class="border-r border-solid border-neutral-500"></div>

    <div class="flex flex-col gap-8">
      <div class="flex flex-row items-center justify-between w-full gap-8">
        <h1>Factory Management</h1>
        <button class="btn-icon btn-primary" (click)="gameService.selectedEntity = undefined">
          X
        </button>
      </div>

      @if (gameService.selectedEntity) {
        @for (
          recipe of gameService.inventoryEntity[gameService.selectedEntity].recipes | keyvalue;
          track $index
        ) {
          <div class="flex flex-col">
            <app-recipe-card [inventoryRecipe]="recipe.value"></app-recipe-card>
            <hr class="py-2" />

            <div class="flex flex-col gap-2">
              <div class="flex flex-row items-center justify-between w-full gap-8">
                <h1>Machines</h1>

                @for (producer of recipe.value; track $index) {}
                <button
                  class="btn-icon btn-primary"
                  (click)="gameService.addMachine(gameService.selectedEntity, recipe.key)"
                >
                  +
                </button>
              </div>

              @for (machine of recipe.value; track $index) {
                <app-factorio-icon [icon]="ENTITY_INFO[machine.id].icon"></app-factorio-icon>
                <p>
                  <em>{{ machine.isCrafting.length }}</em>
                  <small> x </small>
                  <span>{{ ENTITY_INFO[machine.id].display }}</span>
                </p>
              }
            </div>
          </div>
        }
        <pre>{{ gameService.inventoryEntity[gameService.selectedEntity] | json }}</pre>
      }
    </div> -->
  </div>
</section>

<!-- <section>
  <div class="container constrained">
    <div class="flex flex-col gap-4">
      <div class="flex flex-row flex-wrap gap-4" data-cy="recipes">
        @for (recipe of RECIPE_INFO_OPTIONS; track $index) {
          <div class="flex flex-col p-4 border border-solid border-neutral-700" data-cy="recipe">
            <span class="text-xl">{{ recipe.display }} (Recipe)</span>
            <span>
              <em>{{ recipe.time }}</em>
              s craft time
            </span>
            <span>
              Made In:
              <em>{{ ENTITY_TYPE_INFO[recipe.producedIn].display }}</em>
            </span>

            <hr class="py-2" />

            <span class="text-xl">Consumes</span>
            <div class="flex flex-col" data-cy="ingredients">
              @for (ingredient of recipe.consumes; track $index) {
                <div class="flex flex-row gap-2">
                  <app-factorio-icon [icon]="ENTITY_INFO[ingredient.id].icon"></app-factorio-icon>
                  <p>
                    <em> {{ ingredient.count }}</em>
                    <small> x </small>
                    <span>{{ ENTITY_INFO[ingredient.id].display }}</span>
                  </p>
                </div>
              }
            </div>
            <hr class="py-2" />

            <span class="text-xl">Produces</span>
            <div class="flex flex-col" data-cy="products">
              @for (ingredient of recipe.produces; track $index) {
                <div class="flex flex-row gap-2">
                  <app-factorio-icon [icon]="ENTITY_INFO[ingredient.id].icon"></app-factorio-icon>
                  <p>
                    <em> {{ ingredient.count }}</em>
                    <small> x </small>
                    <span>{{ ENTITY_INFO[ingredient.id].display }}</span>
                  </p>
                </div>
              }
            </div>
            <hr class="py-2" />

            <button class="relative overflow-hidden btn-primary" (click)="makeRecipe(recipe)">
              <span
                class="absolute top-0 left-0 h-full bg-white opacity-20"
                [ngStyle]="{ width: inventoryRecipe[recipe.id].progress + '%' }"
              ></span>
              <span class="relative z-10">{{
                inventoryRecipe[recipe.id].progress
                  ? (inventoryRecipe[recipe.id].progress / 100 | percent)
                  : 'Make Recipe'
              }}</span>
            </button>
          </div>
        }
      </div>

      <pre>{{ inventoryEntity | json }}</pre>
      <button class="btn-primary" (click)="mineResource('iron_ore')">Iron Ore</button>
    </div>
  </div>
</section> -->

<!-- <div class="flex flex-row flex-wrap gap-4 p-4">
  <div class="grid grid-cols-2 gap-4 p-4">
    <app-resource-node *ngFor="let node of resourceNodes" [resource]="node"></app-resource-node>
    <app-factory *ngFor="let product of factories" [product]="product"></app-factory>
  </div>

  <app-resource-card [resource]="resource"></app-resource-card>
  @for (item of FactorioIconsData; track $index) {
    <div
      class="flex items-center justify-center w-16 h-16 border rounded shadow-md"
      title="{{ item.display }}"
    >
      <img class="w-full" src="{{ item.url }}" alt="{{ item.display }}" />
    </div>
    <p>{{ item.display }} | {{ item.url }}</p>
  }
</div>
  </div>
</section>
 -->
<!-- <pre>{{ gameService.inventoryEntity.ElectronicCircuit.recipes | keyvalue | json }}</pre> -->
