<div
  class="flex flex-col w-full border border-solid rounded border-neutral-700 bg-stone-200 dark:bg-stone-800"
  data-cy="recipe-card"
  style="box-shadow: 0 0 5px 5px rgb(0 0 0 / 50%)"
>
  <div class="flex flex-row">
    @if (recipe().machineRequired) {
      <div
        class="flex items-center justify-center flex-grow px-4 py-1 rounded-tl bg-neutral-500 text-neutral-800 dark:bg-neutral-600 dark:text-neutral-300"
        title="Can only make this recipe in a factory, cant manual craft"
      >
        Factory Only
      </div>
    } @else {
      <button
        class="relative flex-grow py-1 overflow-hidden rounded-tl btn btn-primary"
        [disabled]="gameService.gameState.recipeProduction[recipe().id].manualCraftingProgress"
        (click)="gameService.makeRecipeManually(recipe().id)"
      >
        <span
          class="absolute top-0 left-0 h-full bg-white opacity-20"
          [ngStyle]="{
            width: gameService.gameState.recipeProduction[recipe().id].manualCraftingProgress
              ? gameService.gameState.recipeProduction[recipe().id].manualCraftingProgress + '%'
              : 0
          }"
        ></span>

        <span class="relative z-10">{{
          gameService.gameState.recipeProduction[recipe().id].manualCraftingProgress
            ? (gameService.gameState.recipeProduction[recipe().id].manualCraftingProgress
              | appClampPercent
              | percent)
            : 'Manual Craft'
        }}</span>
      </button>
    }
    @if (existUnlockedMachines()) {
      <button
        class="flex-1 gap-0 py-0 pr-0 bg-gray-300 border-gray-300 rounded-tr dark:border-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600"
        (click)="gameService.toggleAutoCrafting(recipe().id)"
        title="Toggle Automated Crafting"
      >
        <span class="mr-2">Auto</span>
        <span
          class="w-10 p-1"
          [ngClass]="{
            'bg-gray-400 dark:bg-gray-500':
              !gameService.gameState.recipeProduction[recipe().id].autoCraftingEnabled
          }"
          >OFF</span
        >
        <span
          class="w-10 p-1"
          [ngClass]="{
            'bg-blue-600 text-white':
              gameService.gameState.recipeProduction[recipe().id].autoCraftingEnabled
          }"
          >ON</span
        >

        <!-- Check if there are machines -->
        <!-- @if (gameService.gameState.recipeProduction[recipe().id].autoCraftingEnabled) {
        <div class="contents">
          <i class="text-green-700 fa-solid fa-gear fa-spin" title="Crafting Automatically"></i>
        </div>
      } @else {
        <div class="contents">
          <i class="text-yellow-500 fa-solid fa-circle-pause fa-fw fa-fade" title="Paused"></i>
        </div>
      } -->
      </button>
    }
  </div>

  <div class="flex flex-col gap-2 p-4 pt-1">
    <div class="flex flex-row items-center gap-2">
      <div class="relative p-2">
        <i class="text-3xl fa-solid fa-clipboard-list"></i>
        @if (shownRecipeIdx() != null) {
          <span class="left-0 right-auto bg-blue-500 badge top-1">{{
            (shownRecipeIdx() ?? 0) + 1
          }}</span>
        }
      </div>
      <h3 class="text-lg font-bold">{{ recipe().display }}</h3>
    </div>

    <div class="flex flex-row items-center gap-2">
      <div class="pl-1">
        <i class="text-lg fa-regular fa-clock"></i>
      </div>
      <span>
        <em>{{ recipe().time }}s</em>
        craft time
      </span>
    </div>

    <hr />

    <div class="flex flex-col" data-cy="producers">
      <h4 class="text-sm font-semibold">Assigned Factories</h4>
      @if (!existUnlockedMachines()) {
        <p class="text-sm text-red-500">
          <i class="fa-solid fa-triangle-exclamation"></i>
          No Factories available yet, research needed.
        </p>
      } @else {
        <div class="flex flex-col">
          @for (
            factory of unlockedFactories();
            track $index;
            let index = $index;
            let first = $first;
            let last = $last
          ) {
            <div class="flex flex-row items-center justify-between">
              <div class="flex flex-row items-center flex-1 gap-2">
                <app-factorio-icon [icon]="ENTITY_INFO[factory.id].icon"></app-factorio-icon>
                <em>{{ factory.count | appNumberFormatSuffix }} </em>
              </div>

              <div class="flex flex-row">
                @if (!first) {
                  <button
                    class="text-blue-500 btn-icon"
                    (click)="gameService.upgradeRecipeProducers(recipe().id, factory, index)"
                    title="Upgrade All Available Factories"
                  >
                    <i class="fa-solid fa-angles-up fa-fw"></i>
                  </button>
                }
                <!-- <button
                class="text-green-500 btn-icon"
                (click)="gameService.addMaxRecipeProducers(recipe().id, producer)"
                title="Add Max Factories from Inventory"
              >
                <i class="fa-solid fa-arrows-up-to-line fa-fw"></i>
                <i class="fa-solid fa-arrow-up fa-fw"></i>
              </button> -->
                <button
                  class="text-green-500 btn-icon"
                  (click)="gameService.addToRecipeProducers(recipe().id, factory)"
                  title="Add Factory from Inventory"
                >
                  <i class="fa-solid fa-plus fa-fw"></i>
                </button>
                <!-- <button
                class="text-red-500 btn-icon"
                (click)="gameService.removeAllRecipeProducers(recipe().id, producer)"
                title="Remove All Factory to Inventory"
              >
                <i class="fa-solid fa-arrows-down-to-line fa-fw"></i>
                <i class="fa-solid fa-arrow-down fa-fw"></i>
              </button> -->
                <button
                  class="text-red-500 btn-icon"
                  (click)="gameService.removeFromRecipeProducers(recipe().id, factory)"
                  title="Remove Factory to Inventory"
                >
                  <i class="fa-solid fa-minus fa-fw"></i>
                </button>
              </div>
            </div>
          }
        </div>
      }
    </div>

    @for (section of cardInfo(); track $index) {
      <hr />
      <app-entity-count-list [entityCountList]="section"></app-entity-count-list>
    }
  </div>
</div>
